<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 container mx-auto pt-28 px-5">
  <% @scraped_foods.each do |food| %>
    <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform transform hover:-translate-y-1 hover:shadow-lg p-3">
      <img class="w-full h-48 object-contain" src="<%= food.image_url %>">
      <div class="p-4">
        <h2 class="text-lg font-medium text-gray-900 mb-2"><%= food.product_name %></h2>
        <div class="flex items-center mb-3">
          <span class="text-sm font-medium text-gray-700 mr-2">Brand:</span>
          <p class="text-sm font-semibold text-gray-600"><%= food.brand %></p>
        </div>
        <div class="flex items-center mb-3">
          <span class="text-sm font-medium text-gray-700 mr-2">Quantity:</span>
          <p class="text-sm font-semibold text-gray-600"><%= food.quantity %></p>
        </div>
        <div class="flex items-center mb-3">
          <span class="text-sm font-medium text-gray-700 mr-2">Packaging:</span>
          <p class="text-sm text-gray-600"><%= food.packaging %></p>
        </div>
        <div class="flex items-center mb-3">
          <span class="text-sm font-medium text-gray-700 mr-2">Categories:</span>
          <p class="text-sm text-gray-600"><%= food.categories %></p>
        </div>
        <div class="flex items-center mb-3">
          <span class="text-sm font-medium text-gray-700 mr-2">Barcode:</span>
          <p class="text-sm text-gray-600"><%= food.barcode %></p>
        </div>
        <div class="flex items-center mb-3">
          <span class="text-sm font-medium text-gray-700 mr-2">Imported at:</span>
          <p class="text-sm text-gray-600"><%= food.imported_at %></p>
        </div>
        <div class="flex items-center">
          <span class="text-sm font-medium text-gray-700 mr-2">Status:</span>
          <p class="text-sm text-gray-600"><%= food.status %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>